<section id="SobreMim">
    <div class="container">
        <h1>Sobre Mim</h1>
        <p>Foi Solicitado para mim uma redação onde deveria dizer quais são meus objetivos.Sendo assim, abaixo ta a redação.</p>
        <hr>
        <h2>Objetivos WDK</h2>
        <p>Inicialmente tenho  como meta concluir minha pós-graduação, além de entrar na carreira de analista de sistemas. Visando assim o aperfeissoamento profissional na  minha área de formação. Tenho a intensão de fazer um mestrado de gestão em TI, tendo como meta dar aula em no maximo 10 anos.</p>
        <p>Pessoalmente falando pretendo morar com meu parceiro dentro de um ano e constituir familia em cinco anos no maximo. Sendo assim isso inclui em conprar uma casa/apartamento próprio.</p>
        <p>Concluo assim que estou a procura de um emprego, no qual me traga estabilidade e segurança financeira. Além do ambiente coloaborativo e que me sinta avontade,pois tenho a ideia de manter uma carreira solida e de crescimento gradual.</p>
        <p class="text-center">walquiria Damacena Kunrath</p>
    </div>
</section>